@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Nanum+Gothic&display=swap');

body {
    height: 100vh;
    background: url('../images/favpng_angle-line-pattern-point-font1.png') no-repeat center center;
    background-color: #fffef4;
    font-family: Nanum Gothic, Arial, Helvetica, sans-serif;
    color: #006E7F;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
}

h1, h2 {
    font-family: Alkatra, Arial, Helvetica, sans-serif;    
}

h2 {
    text-align: center;
}

h3 {
    color: #B22727;
}

.logo {
    margin-left: 20px;
}

.logo:nth-child(1) {
    color: #B22727;
}

.logo:nth-child(2) {
    color: #F8CB2E;
}

.logo:nth-child(3) {
    color: #EE5007;
}

.logo:nth-child(4) {
    color:  #007f11;
}

.logo:nth-child(5) {
    color: #006E7F;
}

.game-rules {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-rules-text {
    background-color: #fff;
    height: 525px;
    padding-right: 20px;
}

.game-rules-text  > h2 { 
    text-align: center; 
} 

.game-rules-text > div > ul > li {
    list-style: none;
    line-height: 1.5rem;  
    
}

.game-rules-text > div > ul > li > img {
    vertical-align: center;
}

.wrapper {    
    display: flex;
    justify-content: center;   
    text-align: center;       
}

.circular-menu {
    position: relative;
    align-items: center;
    width: 450px;
    height: 450px;          
}

.circular-menu-item {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;    
    text-decoration: none;
    background-color: #fff;
    transition: 0.3s;
    outline: none;
    font-weight: bold;
    border-width: 15px;
    border-style: solid;
    box-shadow: 2px 2px 4px 4px #b9b9b8; 
     
}

.show-results {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: #fffef4;   
    padding: 20px;
    border: 3px solid #F8CB2E; 
    box-shadow: 2px 2px 4px 4px #b9b9b8;            
}

.start-button {
    position: absolute;
    top: 20%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #faecb9;
    color: #B22727;
    outline: none;
    font-family: Alkatra, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    transition: font-size 0.3s;
    box-shadow: 2px 2px 4px 4px #0f0f0f;    
    box-shadow: inset -2px -2px 2px 2px #918201;  
    border: 15px solid #F8CB2E; 
}


.start-button:hover {
    font-size: 2.1rem;
     color: #EE5007;
     box-shadow: inset 2px 2px 2px 2px #918201;
}


#button-play-style {
    font-size: 2rem;
    color: #EE5007;
    box-shadow: inset 2px 2px 2px 2px #918201;    
}

.circular-menu-item:nth-child(1) {
    border-color: #B22727;
}

.circular-menu-item:nth-child(2) {
    border-color: #F8CB2E;
}

.circular-menu-item:nth-child(3) {
    border-color: #EE5007;
}

.circular-menu-item:nth-child(4) {
    border-color: #007f11;
}

.circular-menu-item:nth-child(5) {
    border-color: #006E7F;
}


.circular-menu-item:nth-child(1):hover {
    background-color:#b37575;
}  

.circular-menu-item:nth-child(2):hover {
    background-color:#f8e49b;
} 

.circular-menu-item:nth-child(3):hover {
    background-color: #e5ab91;
}

.circular-menu-item:nth-child(4):hover {
    background-color: #bdf5c5;
} 

.circular-menu-item:nth-child(5):hover {
    background-color: #87c2cb;
}


.scorebox {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.scorebox > h2 {       
    margin-left: 10px;
    color: #EE5007;
}

figcaption {
    font-size: 1.5rem;
    text-decoration: none;
    color: #1f1f1f;
}

#circular-menu-item-hidden {
    display: none;      
}

.menu-item-hidden {
    display: none;      
}

#game-rules-hidden {
    display: none;   
}

.icons-hidden {
    display: none; 
}

#show-results-hidden {
    display: none;     
}

.level-text {
    display: none;
    margin-right: 70px;
}

.scoreboard {
    display: none; 
}

#user-choice, #computer-choice {
    color: #B22727;
}

footer {
    position: relative; 
    bottom: 0;
    text-align: center;   
}

#footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem; 
    background-color:  #fffef4;;
    padding: 10px 0 10px 0; 
    
}

.popup-level {
    width: 50%;
    height: 300px;
    padding: 20px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffef4;   
    padding: 20px;
    border: 3px solid #F8CB2E; 
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px #b9b9b8;
    z-index: 1;
    display: none;   
}

.popup-options {
    position: relative;    
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: row;   
}

.popup-level-message {
    color: #EE5007;
    text-align: center;     
}

.popup-buttons {
    width: 150px;
    height: 50px; 
   border: 1px solid #F8CB2E; 
   border-radius: 5px;  
   font-size: 20px;
   text-align: center; 
   margin-left: 30px;
   box-shadow: inset -2px -2px 2px 2px #918201;
}
 

.popup-buttons:hover {    
     color: #EE5007;
     box-shadow: inset 2px 2px 2px 2px #918201;
}

/*
#level-up-button-hidden {
    visibility: hidden;
}
*/
